<p>Let's play the game</p>

<h1>Business Game</h1>
<div class="businessGame">
    <app-board fxFlex="50%"></app-board>
    <div fxFlex="50%">
        <app-dice-roll></app-dice-roll>
        <div class="detail">Player Details</div>
        <app-player-detail></app-player-detail>
    </div>
</div>