<div class="board">
    <div>
        <app-cell [cell]="boardCells[0]" style="float: left"></app-cell>
        <app-cell [cell]="boardCells[1]" style="float: left"></app-cell>
        <app-cell [cell]="boardCells[2]" style="float: left"></app-cell>
        <app-cell [cell]="boardCells[3]" style="float: left"></app-cell>
    </div>
    <div>
        <app-cell [cell]="boardCells[11]" style="float: left"></app-cell>
        <app-cell [cell]="boardCells[4]" style="float: right"></app-cell>
    </div>
    <div style="clear: both"></div>
    <div>
        <app-cell [cell]="boardCells[10]" style="float: left"></app-cell>
        <app-cell [cell]="boardCells[5]" style="float: right"></app-cell>
    </div>
    <div style="clear: both"></div>
    <div>
        <app-cell [cell]="boardCells[9]" style="float: left"></app-cell>
        <app-cell [cell]="boardCells[8]" style="float: left;"></app-cell>
        <app-cell [cell]="boardCells[7]" style="float: left;"></app-cell>
        <app-cell [cell]="boardCells[6]" style="float: left;"></app-cell>
    </div>
</div>


<!-- <div *ngFor="let cell of boardCells; let i = index;">
    </div> -->

<!-- <div *ngFor="let i of array; let k = index;">
        <span *ngFor = "let j of array; let l = index;">
            <app-cell [cell]="boardCells[l]"></app-cell>
        </span>
    </div> -->

<!-- <div *ngFor="let cell of boardCells; let i=index;" 
        [class.cell-left]="i<12">
        <app-cell [cell]=cell></app-cell>
    </div> -->