.board{
    width:440px;
    height:440px;
    border:5px solid black;
    background-image: url("/assets/images/board.jpg"); 
    background-repeat: no-repeat;
}

/* .cell{
    width:100px;
    height:100px;
    border: 5px solid red;
    background: white;
    float: left;
}

.transformer1{
    transform: translate(330px,0px);
}

.transformer2{
    transform: translate(220px,110px);
    clear: both;
}

.transformer3{
    transform: translate(110px,220px);
}

.transformer4{
    transform: translate(-110px,220px)
}  */
