<h2>My Heroes</h2>
<ul class="heroes">
    <li *ngFor = "let hero of heroes" 
    (click)="onselect(hero)"
    [class.selected]="hero===selectedHero">
    <span class="badge">{{hero.id}}</span>{{hero.name}}
    </li>
</ul>
<app-hero-details [hero]="selectedHero"></app-hero-details>



