<div class="bg">
<h1>Business Game</h1>
<button class="startGameButton" (click)="start($event)" type=”button”>Start game</button>
<div fxLayout="row">
    <app-board fxFlex="50%"></app-board>
    <div fxFlex="50%">
        <app-dice-roll [disableRoll]="disableRoll" (numberEvent)=receiveDiceRoll($event)></app-dice-roll>
        <div class="detail">Player Details</div>
        <div *ngIf="currentPlayer" class="current-player">Current player is <span>{{currentPlayer.name}}</span></div>
        <app-player-details *ngFor="let player of players" [player]="player" class="eachDetail"></app-player-details>
    </div>
</div>
</div>

