.eachDetail{
  padding: 20px;
  font-size: 20px;
}

.startGameButton{
  margin-bottom: 20px;
  background-color:black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; 
}

.detail{
  margin-top: 3%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

.current-player{
  margin-top: 3%;
  font-weight: bold;
  font-size: 20px;
}

