<div class="board">
    <div>
        <app-cell style="float: left" [position]="0"></app-cell>
        <app-cell style="float: left" [position]="1"></app-cell>
        <app-cell style="float: left" [position]="2"></app-cell>
        <app-cell style="float: left" [position]="3"></app-cell>
    </div>
    <div>
        <app-cell style="float: left" [position]="11"></app-cell>
        <app-cell style="float: right" [position]="4"></app-cell>
    </div>
    <div style="clear: both"></div>
    <div>
        <app-cell style="float: left" [position]="10"></app-cell>
        <app-cell style="float: right" [position]="5"></app-cell>
    </div>
    <div style="clear: both"></div>
    <div>
        <app-cell style="float: left" [position]="9"></app-cell>
        <app-cell style="float: left;" [position]="8"></app-cell>
        <app-cell style="float: left;" [position]="7"></app-cell>
        <app-cell style="float: left;" [position]="6"></app-cell>
    </div>
</div>

