<div *ngIf="hero">
        <h1>{{hero.name | uppercase}} Details</h1>
        <div><span>id:</span>{{hero.id}}</div>
        <div>
            <label>name:
                <input [(ngModel)]="hero.name" placeholder="name">
            </label>
        </div>    
</div>